@import "./variables";

@import "../extra/fonts";
@import "../extra/link";

@import "../components/buttons";
@import "../components/navbar";

*{
    box-sizing: border-box;
}

body{
    background-color: $bg-dark;
    color: $white;
    margin-top: 90px;
}

.px{
    padding-left: $margenx;
    padding-right: $margenx;
}
