.navbar{
    /* elementos de posicionamiento */
    position: fixed;
    top: 0;
    /* Flexbox */
    display: flex;
    align-items: center;
    justify-content: space-between;
	/* propiedades del box model */
    min-height: 70px;
    width: 100%;
	/* propiedades del texto */
	/* propiedades visuales (colores, background, bordes, etc...) */
    border-bottom: 1px solid rgba($color: $white, $alpha: .5);
	/* resto */

    &.blur{
        background-color: rgba($color: $bg-dark, $alpha: .3);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }

    img{
        max-height: 55px;
        margin-left: $margenx;
        cursor: pointer;
    }

    .el-r{
        display: flex;
        align-items: center;
        gap: 25px;
        i{
            font-size: 23px;
            cursor: pointer;
            &:last-child{
                margin-right: $margenx;
            }
        }

        .search{
            position: relative;
            label{
                position: relative;
            }
            i{
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translate(0, -50%);

            }
        }

        input[type=text] {
            border-radius: 8px;
            height: 40px;
            width: 30px;
            opacity: 0;
            border-style: none;
            font-size: 1rem;
            color: $white;
            cursor:pointer;
            transition: width .4s ease;
            &:focus {
                border-style: none;
                background: $bg-dark-mid;
                padding-left: 45px;
                padding-right: 30px;
                outline: none;
                opacity: 1;
                cursor:text;
                width: 300px;
           }
       }

    }
}
 